<p-panel header="Pipes Personalizados" class="p-1">
  <p>
    Pipes personalizados - creados por
    {{ "nosotros" | toggleCase : isUpperCase }}
  </p>
  <!-- Si yo no pongo true, ni tampoco false, saldrá en minúcusla ya que el transform() en el toggle-case.pipe.ts tiene por defecto el valor false -->
  <!-- <p>Pipes personalizados - creados por {{ "nosotros" | toggleCase : true }}</p> -->
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      label="ToggleCase"
      icon="pi pi-search"
      (click)="toggleUpperCase()"
    />
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      (click)="changeOrder('name')"
      class="mr-2"
      label="Por nombre"
      icon="pi pi-sort"
      styleClass="p-button-success"
    />
    <p-button
      (click)="changeOrder('canFly')"
      class="mr-2"
      label="Por volar"
      icon="pi pi-sort"
      styleClass="p-button-danger"
    />
    <p-button
      (click)="changeOrder('color')"
      class="mr-2"
      label="Por color"
      icon="pi pi-sort"
      styleClass="p-button-help"
    />
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Héroes">
      <!-- Si no ponemos en el sorBy como opcional en el sort-by.pipe.ts con el "?" entonces nos obliga a poner un parámetro -->
      <p-table
        [value]="heroes | sortBy : orderBy : sortDirection"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Vuela</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly | canFly | titlecase }}</td>
            <td>{{ hero.color | titlecase }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
